<nav>
      <h1 class="Header-name">My First Blog</h1>
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <%= link_to "All Articles", root_path, :class => "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "New Article", new_article_path, :class => "nav-link active" %>
        </li>
      </ul>
</nav>
<br>